body{
    background-color: gray;
    color:white;
}
.main{
    line-height: 30px;
    text-align: center;
    margin:auto;
    margin-top:5rem;
    height: 445px;
    width: 400px;
    background-color: darkgray;
}
#currentWeather{
    color:gray;
}
#forecastWeather{
    color:gray;
}
form{
    margin-top:35px;
    background-color: lightgray;
    padding:10px;
}
form label{
display: block;
}
